RESEND_API_KEY=re_xxxxxxxxxxxxxxxxx
CONTACT_TO_EMAIL=info@vistavise.com.au
CONTACT_FROM_EMAIL=VistaVise Contact <onboarding@resend.dev>
YOUTUBE_CHANNEL_ID=
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2026-06-10
SANITY_API_READ_TOKEN=
SANITY_REVALIDATE_SECRET=
SANITY_DRAFT_SECRET=
